*{
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo básico de los contenedores div */
div {
    margin-bottom: 2em;
}

/* Estilo para etiquetas */
label {
    margin: 0 2em;
}

/* Estilo para campos de entrada (texto y número) */
input[type="text"], input[type="number"], select {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    font-size: 1em;
    outline: none;
}

/* Estilo para campos de entrada al enfocarse */
input[type="text"]:focus, input[type="number"]:focus, select:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 0.5em rgba(76, 175, 80, 0.25);
}

/* Estilo para el label que se usa como botón de carga de archivo */
#fileInputLabel {
    margin: 0.5em;
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    outline: none;
    text-align: center;
}

#fileInputLabel:hover {
    background-color: #45a049;
}

#fileName {
    margin-left: 0.5em;
    font-size: 1em;
}

/* Estilo para botones */
button {
    margin: 0.5em;
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.3em;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#createNewSubject, #chooseSchedule{
    padding: 0 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#generateCombinedSchedules{
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Estilo para el contenedor de horarios combinados */
#combinedSchedulesContainer {
    margin-top: 2em;
}

/* Estilo para los encabezados y botones de descarga de horarios combinados */
#combinedSchedulesContainer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

/* Estilo para las tablas en general */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-bottom: 2em;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 0.5em;
}

td.selected {
    background-color: #4CAF50;
    color: white;
}

/* Tabla de selección de horarios */

/* Estilo específico para la tabla scheduleTable */
#scheduleTable {
    width: auto;
    margin: 0 auto;
}

/* Efecto hover para las celdas de la tabla scheduleTable */
#scheduleTable td {
    cursor: pointer;
    user-select: none;
}

#scheduleTable td:hover {
    background-color: rgba(85, 220, 89, 0.5);
}

#scheduleTable th {
    user-select: none;
}

/* Estilos con conflictos */

/* Estilos para el switch */
#toggleConflicts {
    position: relative;
    width: 2.5em;
    height: 1.25em;
    appearance: none;
    margin: 1em;
    background-color: #ccc;
    outline: none;
    cursor: pointer;
    border-radius: 1.25em;
    transition: background-color 0.3s;
}

#toggleConflicts:before {
    content: '';
    position: absolute;
    top: 0.125em;
    left: 0.125em;
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    transition: left 0.3s;
}

#toggleConflicts:checked {
    background-color: #4CAF50;
}

#toggleConflicts:checked:before {
    left: 1.375em;
}
